---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';

import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
/* import Stats from '../components/Stats.astro';*/
import Schedule from '../components/Schedule.astro';
import AboutUs from '../components/AboutUs.astro';
import Partners from '../components/Partners.astro';

import Footer from '../components/Footer.astro';
---

<Layout title="HackReality 2024 - Spatial Computing Hackathon">
  <Navigation />
  <main>
    <Hero />
    <Features />
<!--     <Stats />  -->
    <Schedule />
    <AboutUs />
    <Partners />
  </main>
  <Footer />
</Layout>

